<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ActionTags</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>  
  </welcome-file-list>
  <servlet>
  
  <servlet-name>pok</servlet-name>
  <jsp-file>/First.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>pok</servlet-name>
  <url-pattern>/fff</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <servlet>
  <servlet-name>fod</servlet-name>
  <servlet-class>com.jpop.Serrrr</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>fod</servlet-name>
  <url-pattern>/de</url-pattern>
  </servlet-mapping>
</web-app>