<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <servlet>
  <servlet-name>ho</servlet-name>
  <jsp-file>/check</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>ho</servlet-name>
  <url-pattern>com/d/check</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>hopu</servlet-name>
  <jsp-file>/firstJP.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>hopu</servlet-name>
  <url-pattern>/kap</url-pattern>
  </servlet-mapping>
</web-app>